# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/*.log

# Local data
data/tmp/
*.log
depth*.dmap
data/projects/demo/openmvs/
data/projects/demo/colmap/database.db
experiments/
*.ply
